// Utility
*{
    box-sizing:border-box;
}
.hover-indication{
	&:hover{
		cursor: pointer;
		opacity: 0.7;
	}
}
.flex{
    display: flex;
}
.flex-column{
	.flex;
	flex-direction: column;
}
.flex-wrap{
	.flex;
	flex-wrap: wrap;
}
.flex-center-image{
	.flex;
	align-items: center;
    justify-content: center;
}
.vertically-center-children{
	.flex-column;
  	align-items: center;
  	justify-content: center;
}
img{
	max-width: 100%;
	max-height: 100%;
}
a{
	text-decoration: none;
	color: black;
}
.view-header{

}

// Dimension Units
@border-width: 3px;
@nav-height: 4em;
@hero-height: 32em;

// Breakpoints

@mobile-md: 200px;

// Colors
@darkgray: #444;
@nav-color: lightgray;
@main-light: lighten(lightgray, 15);
@main: lighten(lightgray, 10);

// Global  


//// MAIN ////

	

	html{
		font-family: 'Open Sans', sans-serif;
	}
	body{

	}
	
	.hero-section{
		width: 100%;
		height: @hero-height;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		// transition: opacity 0.15s ease-in-out;
	}	

	// Navbar
		nav{
			position: absolute;
			bottom: 0;
			.flex;
			justify-content: space-around;
			height: @nav-height;
			width: 100%;
			background-color:  rgba(255, 255, 255, 0.9);
			// border-bottom: 3px solid gray;
			border-top: 3px solid lighten(gray, 20);
		}
			.nav-link{
				outline-top: 3px solid lighten(gray, 20);
				text-align: center;
				width: 100%;
				height: ~"calc(4em+@border-width)";
				line-height: 4em;
				color: @darkgray;
				font-weight:  bold;
			}
			.nav-link-active{
				background-color: rgba(155, 155, 155, 0.5);
				transition: background-color 150ms linear;
			}

	// Hero Floating Content Classes
		
		.hero-content{
			position: absolute;
			background-color: rgba(0, 0, 0, 0.50);
			border-radius: 7px;
			width: 100%;
			height: 100%;
			color: lighten(gray,45);
			padding: 1em;
		}
			.hero-content-block{
				margin: 0;
				font-size: 1.2em;
				line-height: 1.7em;
			}
		.hero-stamp{
			height: (@hero-height)-(@nav-height);
			.vertically-center-children;
			position: absolute;
			right: 2em;
		}		

	// Hero FLoating Content Specific Instances

		//home
		.hero-content-home{
			width: 40em;
			height: 15em;
			top:2em;
			right: 2em;
		}
		//contact
		.hero-content-contact{
			width: 40em;
			// height: 30em;
			top: 7em;
			left: 2.7em;
			padding-left: 1em;
			p{
				margin-top: 1.5em;
				margin-bottom: 2em;
			}
			h2{
				display: inline-block;
			}
		}		
			.contact-label{
				width: 200px;
				text-decoration: underline;
			}
			.contact-label-address{
				margin-bottom: 0em;
			}
			.contact-label-address-lower{
				margin-top: 0.5em;
			}	
		//novapex	
		.hero-content-novapex{
			
		}	
		.hero-stamp-yosemite{
			img{
				height: 70%;
				border: 2px solid white;
			}
		}	

// Background Images

.hero-section-home{
	background-image: url('../assets/img/sundial-night-wide.jpg');
}
.hero-section-leadership{
	background-image: url('../assets/img/mtshasta-sunset-wide.jpg');
}
.hero-section-novapex{
	background-image: url('../assets/img/yosemite4.jpg');
}
.hero-section-calendar{
	background-image: url('../assets/img/candidate/exhibits.jpg');
}
.hero-section-leadership{
	background-image: url('../assets/img/candidate/gw.jpg');
}
.hero-section-news{
	background-image: url('../assets/img/candidate/dubai3.jpg');
}
.hero-section-links{
	background-image: url('../assets/img/candidate/stripes-cropped.jpg');
}
.hero-section-contact{
	background-image: url('../assets/img/candidate/green.jpg');
}

// MAIN VIEWS

.main-section{
	border-top: 3px solid lighten(gray, 30);
}

	// Home

	// leadership

		.leadership-wrapper{
			.flex-wrap;
		}
			.leadership-left{
				.flex;
				width: 25%;
				background-color: @main;

			}
				.leadership-links{
					width: 100%;
					.flex-column;
				}
					.leadership-left-header-wrapper{
						text-align: center;
						height: 5em;
						background-color: darken(@main, 5);
						.flex;
						align-items: center;
						justify-content: center;
					}
						.leadership-left-header{
							margin: 0;
							align-self: center;
						}
					.officer-link{
						max-height: 8em;
						min-height: 5em;
						&:hover{
							cursor: pointer;
							background-color: darken(@main, 3);
						}
						
						.flex;
						align-items: center;
						justify-content: center;
					}
						.officer-link-text{
							margin: 0;
							align-self: center;
						}
			.leadership-right{
				.flex;
				width: 75%;
				background-color: @main-light;
			}
				.bio-wrapper{
					.flex;
					width: 100%;
				}
					.leader-bio{
						width: 66.666%;
						padding: 2em;
						padding-top: 1em;
					}
						.leader-name{
							font-size: 2em;
						}
						.leader-position{
							font-size: 1.4em;
						}
						.leader-bio-text{

						}
					.leader-photo{
						padding: 3em 2em;
						width: 33.333%;
						.flex-center-image;
						img{
							max-height: 300px;
						}
					}

	// Novapex

	.novapex-wrapper{
		position: relative;
	}
		
		.novapex-content{
			position: absolute;
			background-color: @main-light;
			left: 0;
			top: 0;
			width: 60%;
			padding-top: 2.2em;

		}	
			.novapex-header{
				width: 80%;
				margin-left: 10%;
				margin-bottom: 1.2em;
			}	
			.novapex-content-block{
				width: 80%;
				font-size: 1.3em;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 3em;
				line-height: 1.5em;
			}
		.novapex-right{
			position: absolute;
			right: 0;
			width: 40%;
			*{
					overflow: hidden;
				}
		}
			.novapex-docs{
				
				width: 100%;
				height: 6em;
				background-color: darken(@main, 10);
				.flex;
			}
				.novapex-docs-header{
					flex-grow: 2;
					text-align: center;
					font-size: 1.3em;
					font-weight: bold;
					line-height: (6em/1.3em);
				}
				.novapex-docs-links{
					width: 8em;
					background-color: darken(@main, 5);
				}
					.novapex-doc-link{
						width: 100%;
						height: 3em;
						text-align: center;
						line-height: 3em;
						a:hover{
							text-decoration: underline;
						}
					}	
			.novapex-gallery-container{
				position: relative;
				// outline: 2px solid blue;
			}		
				.centennial-logo{
					width: 80%;
					margin: 3em 10%;	
				}
		
	// Calendar

		.calendar-wrapper{
			.flex-wrap;
		}
			.calendar-left{
				.flex;
				width: 70%;
				min-width: 800px;
				padding: 3em 2em;
			}	
				.calendar-container{
					// height: 40em;
					width: 80%;
					margin: 0 auto;
				}
					.calendar-header{
						.flex;
						justify-content: space-between;
						width: 100%;
						height: 15%;
					}
						.calendar-prev-btn{
			
						}
						.calendar-month-text{
							margin: 0 auto;
						}
						.calendar-next-btn{

						}
					.calendar-row{
						// height: (85%/6);
						border-top: 2px solid black;
						
						height: 90px;
					}
					.calendar-row:last-child{
						border-bottom: 2px solid black;
					}
					// .calendar-row:not(:nth-child(1)){
					// 	border-top: none;
					// }	
						.calendar-cell{
							width: (100%/7);
							height: 100%;
							border-left: 2px solid black;
							
							display: inline-block;
							overflow: hidden;
						}
						.calendar-cell:last-child{
							border-right: 2px solid black;
						}
						.calendar-cell-active{

						}
						.calendar-cell-event{
							
						}
							.calendar-datebox{

							}
							.calendar-event-name{
								font-size: 0.8em;
								&:hover{
									cursor: pointer;
								}
							}

				
			.calendar-right{
				background-color: @main;
				width: 30%;
				.flex;
			}	
				.calendar-details{
					
					width: 100%;
				}
					.calendar-details-heading{
						width: 100%;
						text-align: center;
						font-size: 2em;
						margin-top: 1em;

					}
					.calendar-details-wrapper{
						.flex-column;
						justify-content: space-around;
						height: 20em;
						// width: 90%;
						margin: 1em 10%;
					}	
						.calendar-event-label{
							display: inline-block;
							width: 20%;
							min-width: 120px;
							font-weight: bold;
						}
						.calendar-details-name{
						
						} 
						.calendar-details-time{

						} 
						.calendar-details-location{

						} 
						.calendar-details-description{

						} 
						.calendar-details-note{

						} 
						.calendar-details-map{
							width: 81%;
							height: 300px;
							margin-left: 10%; 
							margin: 2em auto;
							overflow: hidden;
						} 
	// Links

	// News&Links
				
		.news-articles-wrapper{
			position: relative;
		}
			.news-wrapper{
				position: absolute;
				background-color: @main-light;
				left: 0;
				top: 0;
				width: 60%;
				padding-top: 2.2em;

			}	
				.news-header{
					width: 100%;
					height: 3em;
					background-color: rgba(0, 0, 0, 0.5);
				}	
				.news-grid{
					width: 100%;
					
				}
			.articles-wrapper{
				position: absolute;
				right: 0;
				width: 40%;
				*{
						overflow: hidden;
					}
			}
				.articles-header{
					
					width: 100%;
					height: 6em;
					background-color: darken(@main, 10);
					.flex;
				}
					.articles-content{
						flex-grow: 2;
						text-align: center;
						font-size: 1.3em;
						font-weight: bold;
						line-height: (6em/1.3em);
					}		

	// Contact

// Modal
	.modal-section{	
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
		display: none;
	}
	.modal-section.modal-active{	
		display: block;
	}
		.modal-body{
			padding: 2em;
			background-color: white;
			position: fixed;
			width: 70%;
			margin-left: 15%;
			margin-top: 3em;
			min-height: 30em;

			.modal-close-button{
				position: absolute;
				top: 5px;
				right: 5px;
			}

			iframe{
				width: 100%;
				height: 50em;
			}
		}


// Animations

	.fade {
	  opacity: 1;
	}
	.fade.ng-hide-add, .fade.ng-hide-remove {
	  transition: opacity linear 0.1s;
	}
	.fade.ng-hide {
	  opacity: 0;
	}
	.fade.ng-enter {
	  transition:0.5s linear all;
	  opacity:0 !important;
	}
	/* The finishing CSS styles for the enter animation */
	.fade.ng-enter.ng-enter-active {
	  opacity:1 !important;
	}
	.fade.ng-leave {
	  transition:0.5s linear all;
	  opacity:1 !important;
	}
	.fade.ng-leave.ng-leave-active {
	  opacity:0 !important;
	}
	
