@import "gradients.less";

// Utility
*{
    box-sizing:border-box;
}
.hover-indication{
	&:hover{
		cursor: pointer;
		opacity: 0.7;
	}
}
.flex{
    display: flex;
}
.flex-column{
	.flex;
	flex-direction: column;
}
.flex-wrap{
	.flex;
	flex-wrap: wrap;
}
.flex-center-image{
	.flex;
	align-items: center;
    justify-content: center;
}
.vertically-center-children{
	.flex-column;
  	align-items: center;
  	justify-content: center;
}
img{
	max-width: 100%;
	max-height: 100%;
}
a{
	text-decoration: none;
	color: black;
}
.view-header{

}


// Dimension Units
@border-width: 3px;
@nav-height: 3.5em;
@hero-height: 25em;
@homepage-header-height: 4.1em;
// Breakpoints

@mobile-md: 200px;

// Colors
@darkgray: #444;
@nav-color: lightgray;
@main-light: lighten(lightgray, 15);
@main: lighten(lightgray, 10);
@article-bg: lighten(gray, 30%);
@perforated-border: 3px dashed lighten(gray,5);
// Global  



//// MAIN ////

	html{
		font-family: 'Open Sans', sans-serif;
	}
	body{
		overflow-x: hidden;	
	}
	.content-block{
		font-family: 'Nunito';
	}

	.header-strip{
		width: 100%;
		height: 70px;
		background-color: lighten(black, 20);
		.flex;
		justify-content: space-between;
		position: relative;
		// padding-left: 20px;
		border-bottom: 2px solid lighten(gray, 10);

	}

		.header-brand{
			// flex-grow: 2;
		}
			.brand-logo{

				height: 50px;
				margin: 10px;
			}
		.brand{
			font-family: 'Montserrat';		
			// color: white;
			color: lighten(gray, 35);
			height: 100%;
			.vertically-center-children;
			font-size: 1.4em;
			transition: color 150ms linear;
			&:hover{
				cursor: pointer;
				color: white;
			}	
		}
		.header-mobile-nav{
			height: 100%;
			color: white;
			width: 60px;

			.vertically-center-children;
			@media all and (min-width: 750px){
				display: none;
			}

		}
			.header-mobile-nav-icon{
				height: 40px;
				width: 40px;
				color: white;
				opacity: 0.9;
				&:hover{
					opacity: 0.7;
					cursor: pointer;
				}
			}

	.hero-section{
		width: 100%;
		height: @hero-height;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		// transition: opacity 0.15s ease-in-out;
	}	
	// Navbar
		.nav-wrapper{
			position: absolute;
			bottom: 0;
			.flex;
			justify-content: space-around;
			height: @nav-height;
			width: 100%;
			background-color:  rgba(255, 255, 255, 0.9);
			// border-bottom: 3px solid gray;
			border-top: 3px solid lighten(gray, 15);
			@media all and (max-width: 750px){
				display: none;
			}	
		}
			.nav-link{
				outline-top: 3px solid lighten(gray, 0);
				text-align: center;
				width: 100%;
				height: ~"calc(3.5em+@border-width)";
				line-height:@nav-height;
				color: lighten(@darkgray,8);
				font-weight:  bold;
				// font-family: 'Arvo';
				transition: background-color 150ms linear;
				&:hover{
					background-color:  rgba(0,0,0, 0.1);
					// transition: background-color 150ms linear;
				}
			}
			.nav-link-active{
					border-left: 1px dashed gray;
					border-right: 1px dashed gray;
					background-color: white !important;
					&:first-child{
						border-left: none;
					}
					&:last-child{
						border-right: none;
					}
			}
		.nav-wrapper.mobile{
			height: 16em;
			top: 0;
			display: flex;
			flex-wrap: wrap;
			.nav-link{
				width: 50%;
				height: 4em;
				.vertically-center-children;
				line-height: 4em;
			}
			*{
			border: 1px dashed black;
			}
			*:last-child{
				width: 100%;
			}
		}
	// Hero Floating Content Classes
		
		.hero-content{
			position: absolute;
			background-color: rgba(0, 0, 0, 0.50);
			border-radius: 7px;
			width: 100%;
			height: 100%;
			color: lighten(gray,45);
			padding: 1em;
		}
			.hero-content-block{
				margin: 0;
				font-size: 1.2em;
				line-height: 1.7em;
			}
		.hero-stamp{
			height: (@hero-height)-(@nav-height);
			.vertically-center-children;
			position: absolute;
			right: 2em;
		}		

	// Hero FLoating Content Specific Instances
		.page-heading{
			position: relative;
			h2{
				color: lighten(black, 20%);
				font-family: 'Oswald';
				position: relative;
				margin: 0;
				font-size: 2.3em;
				padding-top: 0.6em;
				padding-bottom: 0.3em;
				padding-left: 15px;
				// margin-bottom: 0.05em;
				z-index: 10;
				opacity: 1;
			}
			@media all and (max-width: 750px){
				width: 100%;
				border-bottom: 2px solid lighten(gray, 25);
				border-right: none;
				text-align: center;
				.vertically-center-children;
				h2{
				padding-top: 15px;
				padding-bottom: 15px;
				}
			}
		}
		.home-heading{
			height: @homepage-header-height;
			h2{
				font-size: 1.8em;
				padding-top: 0.6em;
				padding-bottom: 0.3em;
			}
		}
			.header-opacity-layer{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}
				.header-opacity-layer.news-header-opacity-layer{
					.header-opacity(@main-light);
				}
				.header-opacity-layer.calendar-header-opacity-layer{
					.header-opacity(white);
				}
				.header-opacity-layer.links-header-opacity-layer{
					.header-opacity(white);
				}
				.header-opacity-layer.novapex-heading-opacity-layer{
					.header-opacity(white);
				}
				.header-opacity-layer.leadership-header-opacity-layer{
					.header-opacity(white);
				}
				.header-opacity-layer.home-header-opacity-layer{
					.header-opacity(white);
				}
			.header-texture-layer{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-image: url('../assets/textures/grey.png');
				z-index: 1;
				border-bottom: 2px solid lighten(gray, 10);
			}



		//home
		.hero-content-home{
			width: 40em;
			height: 15em;
			top:2em;
			right: 2em;
		}
		//contact
		.hero-content-contact{
			width: 40em;
			// height: 30em;
			top: 7em;
			left: 2.7em;
			padding-left: 1em;
			p{
				margin-top: 1.5em;
				margin-bottom: 2em;
			}
			h2{
				display: inline-block;
			}
		}		
			.contact-label{
				width: 200px;
				text-decoration: underline;
			}
			.contact-label-address{
				margin-bottom: 0em;
			}
			.contact-label-address-lower{
				margin-top: 0.5em;
			}	
		//novapex	
		.hero-content-novapex{
			
		}	
		.hero-stamp-yosemite{
			img{
				height: 70%;
				border: 2px solid white;
			}
		}	

// Background Images

.hero-section-home{
	background-image: url('../assets/img/sundial-night-wide.jpg');
}
.hero-section-leadership{
	background-image: url('../assets/img/mtshasta-sunset-wide.jpg');
}
.hero-section-novapex{
	background-image: url('../assets/img/yosemite4.jpg');
}
.hero-section-calendar{
	background-image: url('../assets/img/candidate/exhibits.jpg');
}
.hero-section-leadership{
	background-image: url('../assets/img/candidate/cool.jpg');
}
.hero-section-news{
	background-image: url('../assets/img/candidate/dubai3.jpg');
}
.hero-section-contact{
	background-image: url('../assets/img/stampBook.jpg');
}
.hero-section-links{
	background-image: url('../assets/img/candidate/green.jpg');
}

// MAIN VIEWS

.main-section{
	border-top: 3px solid lighten(gray, 20);
	// height: auto;
	display: block;
	position: relative;
}

	// Home
		.home-wrapper{
			position: relative;
			height: 50em;
			@media all and (max-width: 1250px){
				height: 70em;
			}
			@media all and (max-width: 900px){
				height: 80em;
			}
			@media all and (max-width: 750px){
				height: 100em;
			}

		}
			.home-section{
				border: @perforated-border;
				overflow: hidden;
			}
			.home-who-section{
				position: absolute;
				height: 20em;
				width: 35%;
				left:0;
				top:0;
				border-left: none;
				border-top: none;
				@media all and (max-width: 1250px){
					width: 60%;
					border-right: none;
				}	
				@media all and (max-width: 900px){
					width: 50%;
					border-right: @perforated-border;
					border-bottom: none;
				}	
				@media all and (max-width: 750px){
					height: 30em;
				}
			}
				.home-who-wrapper{
					width: 100%;
					height: 100%;
					position: relative;
					.content-block{
						// position: relative;
						font-family: 'Arvo';
						padding: 1.25em;
						font-size: 1.em;
						text-align: justify;
						line-height: 1.5em;
						width: ~'calc(100% - 190px)';
					}
						.home-who-image-container{
							position: absolute;
							right: 0;
							top: 0;
							z-index: 11;
							height: 90%;
							padding: 20px;
							opacity: .9;
							img{
								border: 1px solid black;
								box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.85);
								margin-top: 18%;
							}
						}

				}
			.home-hot-section{
				position: absolute;
				height: 20em;
				width: 30%;
				left:35%;
				top:0;
				border-left: none;
				border-right: none;
				border-top: none;
				@media all and (max-width: 1250px){
					width: 30%;
					top: 40em;
					left: 30%;
					height: 30em;
					border-top: @perforated-border;
					border-bottom: none;
				}
				@media all and (max-width: 900px){
					border-left: none;
					border-right: none;
					border-top: none;
					width: 50%;
					top: 0;
					left: 50%;
					height: 20em;
				}
				@media all and (max-width: 750px){
					height: 30em;
				}
			}	
				.home-hot-links{
					padding-top: 20px;
					padding-bottom: 20px;
					height: 20em - @homepage-header-height;

					.flex-wrap;
						
				}

					.hot-link-wrapper{
						flex-shrink: 0;
						width: 50%;
						height: 50%;
						.vertically-center-children;
					}
						.hot-link{
							width: 88%;
							height: 60%;
							background-color: lighten(#FFFAD6,7);
							border: 2px solid lighten(gray, 38);
							box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.65);
							overflow: hidden;
							transition: border 200ms linear;
							.flex;
							&:hover{
								border: 2px solid lighten(black, 8);
								cursor: pointer;
								.hot-link-text{
									font-weight: bold;
								}
								.hot-link-go{

									opacity: 1;
								}	
							}
						}
							.hot-link-content{
								padding-left: 3px;
								flex-grow: 2;
							}
								.hot-link-title{
									font-family: 'Arvo';
									font-size: 1em;
									text-align: left;
									padding: 3px 3px 0px 3px;
									font-weight: bold;
								}
								.hot-link-text{
									transition: all 150ms linear;
									font-size: 0.8em;
									padding-left: 3px;
								}
							.hot-link-go{
								width: 30px;
								flex-grow: 0;
								flex-shrink: 0;
								height: 100%;
								transition: opacity 250ms linear;
								opacity: 0.5;
								// width: 30px;
								.vertically-center-children;
							}
									.hot-link-go-icon{
										height:70%;
										width: 70%;
										

									}
			.home-media-section{
				position: absolute;
				height: 30em;
				width: 20%;
				left: 0;
				top: 20em;
				border-top: none;
				border-left: none;
				border-bottom: none;
				@media all and (max-width: 1500px){
					width: 25%;
				}
				@media all and (max-width: 1250px){
					width: 30%;
					top: 40em;
					border-top: @perforated-border;
				}
				@media all and (max-width: 900px){
					width: 50%;
					top: 50em;
					left: 0%;
					border: none;
					height: 30em;
				}
				@media all and (max-width: 750px){
					top: 70em;
				}	
			}	
				.home-media-links{
					height: 30em - @homepage-header-height;
				}
					.home-media-link-wrapper{
						height: 20%;
						border-bottom: 4px solid darken(white, 7);
						border-top: 2px solid darken(white, 15);
						
						
						
						&:nth-child(even){
							.media-link-image{
								order:1;
								
							}
							.media-link-content{
								order: 2;
							}
						}	
						&:nth-child(odd){
						}
						&:hover{
							cursor: pointer;
							border-bottom: 4px solid darken(white, 12);
							border-top: 2px solid darken(white, 30);
							.media-link-title{
								background-color: darken(white, 5);
							}
							.media-link-meta{
								background-color: darken(white, 12);

							}
							.media-link-image{
								opacity: 0.7;
							}
						}
					}	
						.home-media-link{
							.flex;
							justify-content: space-between;
							height: 100%;
							width: 100%;
						}

						.media-link-content{
							flex-grow: 2;
							height: 100%;
						}
							.media-link-title{
								padding: 6px 5px 5px 5px;
								overflow: hidden;
								height: 70%;
								font-family: 'Nunito';
								// font-weight: bold;
								font-size: 0.8em;
								line-height: 1.2em;
								// text-overflow: ellipsis;
								transition: background-color 150ms linear;
								.vertically-center-children;
							}
								.media-link-title-text{
									// text-overflow: ellipsis;
									word-wrap: break-word;
									// height: 100%;
								}

							.media-link-meta{
								padding-left: 5px;
								padding-right: 5px;
								overflow: hidden;
								height: 30%;
								// width: 100%;
								border-bottom: 2px solid lighten(gray,40);
								background-color: darken(white, 3);
								transition: background-color 150ms linear;
							}
								.media-link-date{
									font-size: 0.65em;
									padding-top: 0.5em;
									font-weight: bold;
									font-family: 'Arvo';
									color: darken(gray,10);
								}
								.media-link-refer{

								}
						.media-link-image{
							height: 100%;
							flex-shrink: 0;

						}
			.home-info-section{
				position: absolute;
				height: 30em;
				width: 45%;
				left: 20%;
				top: 20em;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom: none;
				@media all and (max-width: 1500px){
					width: 40%;
					left: 25%;
				}
				@media all and (max-width: 1250px){
					width: 60%;
					top: 20em;
					left: 0em;
					height: 20em;
				}	
				@media all and (max-width: 900px){
					height: 30em;
					width: 50%;
					left: 50%;
					top: 50em;
					border-top: none;
					border-left: @perforated-border;
					border-right: none;
					border-bottom: none;
				}	
				@media all and (max-width: 750px){
					top: 70em;
				}
			}
			.home-corner-section{
				position: absolute;
				height: 50em;
				width: 35%;
				right: 0%;
				top: 0em;
				border-top: none; 
				border-right: none;
				border-bottom: none;
				@media all and (max-width: 1250px){
					height: 70em;
					width: 40%;
				}	
				@media all and (max-width: 900px){
					height: 30em;
					width: 100%;
					left: 0%;
					top: 20em;
					border-top: @perforated-border;;
					border-left: none;
					border-right: none;
					border-bottom: @perforated-border;
				}	
				@media all and (max-width: 750px){
					top: 30em;
					height: 40em;
				}
			}
				.home-corner-wrapper{
					padding: 20px;
					// padding-bottom: 20px;
					height: 50em - @homepage-header-height;
					.flex-column;
					justify-content: space-between;
				}
				.home-corner-wrapper-content{
					// margin-bottom: 3em;
					flex-grow: 2;
					.flex-column;
					justify-content: space-between;
					overflow: hidden;
				}
					.home-corner-first-words{
						font-size: 1.2em;
						font-weight: bold;
					}
					.home-corner-wrapper-paragraph{
						text-align: justify;
						font-size: 0.95em;
						font-family: 'Arvo';
						margin: 0.5em 0;
						@media all and (max-width: 1430px){
							font-size: 0.9em;
						}	
					}
				.home-corner-wrapper-signature{
					// border: 1px solid black;
					padding-top: 15px;
					// padding-bottom: 15px;
					height: 115px;

					.flex;
					justify-content: space-between;
				}	
					.corner-signature-photo{
						width: 75px;
						height: 100px;
						flex-shrink: 0;
						img{
							width: 75px;
							height: 100px;
							border-radius: 5px;
						}
					}
					.corner-signature-content{
						padding-left: 150px;
						flex-grow: 2;
						text-align: left;
						.flex;
						justify-content: space-between;
					}
						.corner-signature-content-spacer{
							flex-grow:2;
						}
						.corner-signature-content-text{
							padding-right: 20px;
						}
							.corner-signature-name{
								font-size: 1.3em;
								font-weight: bold;
							}
							.corner-signature-title{
								
							}

					// .home-corner-wrapper-image{
					// 	width: 90%;
					// 	margin-left: auto;
					// 	margin-right: auto;

					// 	img{
					// 		opacity: 0.9;
					// 		// border: 1px solid black;
					// 		border-radius: 50%;
					// 		box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.85);
					// 	}
					// }

						#home-wrapper{
							@media all and (max-width: 600px){
								height: auto;
							}
							.home-section{
								@media all and (max-width: 600px){
									position: relative;
									height: auto;
									border: none;
									border-bottom: @perforated-border;
									width: 100%;
									left: 0;
									top: 0;
									
									padding-bottom: 50px;
								}
							}
						}

	// leadership

		.leadership-wrapper{
			.flex-wrap;
			// min-height: 600px;
			@media all and (max-width: 750px){
				.flex-column;
			}
		}
			.leadership-header{
				width: 100%;
			}
			.leadership-left{
				position: relative;
				.flex;
				width: 25%;
				background-color: @main;
				border-right: @perforated-border;
			
				@media all and (max-width: 1100px){
					width: 30%;
				}				
				@media all and (max-width: 750px){
					width: 100%;
					border-bottom: 2px solid lighten(gray, 25);
					border-right: none;
				}
			}
			.positions-bg-layer{
				
				background-image: url('../assets/img/12.jpg');
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				@media all and (max-width: 750px){
					display: none;
				}
				
			}
			.positions-opacity-layer{
				background-color: rgba(255, 255, 255, 0.7);
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				@media all and (max-width: 750px){
					display: none;
				}
				
			}

				.leadership-links{
					z-index: 3;	
					width: 100%;
					.flex-column;
					@media all and (max-width: 750px){
						flex-direction: row;
						height: 5em;
						border-bottom: none;
					}
					@media all and (max-width: 550px){
						height: 4em;
					}
				}
					.leadership-left-header-wrapper{
						text-align: center;
						height: 5em;
						background-color: darken(@main, 5);
						.flex;
						align-items: center;
						justify-content: center;
						border-bottom: 4px solid white;
						&.prev-active{
							border-bottom: 4px dashed gray;
						}
						@media all and (max-width: 750px){
							display: none;
						}
					}
						.leadership-left-header{
							font-family: 'Arvo';
							margin: 0;
							align-self: center;
							color: darken(gray,25);
							@media all and (max-width: 1250px){
								font-size: 1.2em;
							}
							
						}
					.officer-link{
						background-color: @main;
						border-bottom: 3px solid white;
						max-height: 8em;
						min-height: 5em;
						color: darken(gray,20);
						@media all and (max-width: 750px){
							width: 33.33%;
							border-bottom: none !important;
						}
						@media all and (max-width: 550px){
							height: 4em;
							min-height: 4em;
							max-height: 4em;
						}
						&:hover{
							cursor: pointer;
							background-color: darken(@main, 3);
						}
						&:last-child{
							border-bottom: 3px solid darken(white,20);
						}
						&:last-child.next-active{
							
						}
						.flex;
						align-items: center;
						justify-content: center;
						
					}
					.officer-link.active{
						background-color: white;
						border-bottom: @perforated-border;
					}
		
					.officer-link.prev-active{
						border-bottom: @perforated-border;
						}

						.officer-link-text{
							margin: 0;
							align-self: center;
							@media all and (max-width: 1250px){
								font-size: 1em;
							}
							@media all and (max-width: 550px){
								font-size: 0.8em;
							}
						}
			.leadership-right{
				.flex-column;

				width: 75%;
				background-color: @main-light;
				border-top: 1px solid lighten(gray, 35);
				@media all and (max-width: 1100px){
					width: 70%;
				}
				@media all and (max-width: 750px){
					width: 100%;
				}	
				@media all and (max-width: 550px){
					*:not(p){text-align: center !important;}
				}	
				
			}
				.position-description{
					width: 100%;
					// height: 18em;
					border-bottom: 2px solid darken(white, 7);
					.flex;
					@media all and (max-width: 950px){
						display: initial						
					}
				}	
					.position-description-left{
						flex-grow: 2;
						padding: 2em;
						padding-top: 30px;
						.flex;
						@media all and (max-width: 550px){
							padding-top: 4em;
							padding-bottom: 4em;
						}

					}	

						.position-description-left-wrapper{
							width: 100%;
							// height: 100%;
							
						}
							.position-header{
								height: 2.8em;
								font-size: 1.4em;
								font-family: 'Arvo';
								@media all and (max-width: 950px){
									height: 2em;
								}	
								@media all and (max-width: 550px){
									margin-bottom: 0.5em;
									font-weight: bold;
								}
							}
							.position-text{
								font-family: 'Open Sans';
								text-align: justify;
								margin-top: 0.25em;
								@media all and (max-width: 1100px){
									font-size: 0.9em;	
								}
								@media all and (max-width: 550px){
									font-size: 1.0em;
									line-height: 1.5em;	
								}
							}
					.position-description-right{
						width: 400px;
						flex-shrink:0;
						flex-grow: 0;
						border-left: 1px solid darken(white, 12);
						padding: 20px;
						padding-top: 30px;
						.flex;
						@media all and (max-width: 1200px){
							width: 300px;
						}
						@media all and (max-width: 950px){
							
							display: none;
						}
					}	
						.position-description-right-wrapper{
							width: 100%;
							// display: none;
							// height: 100%;

						}
							.position-subheader{
								display: none;
								margin-top: 0;
								font-size: 1.1em;
								color: gray;
								
							}
							
							.interested-header{
								height: 2.8em;
									text-align: center;
											
									// margin:1em auto;
									font-size: 1.4em;
									font-family: 'Arvo';
									@media all and (max-width: 950px){
										text-align: left;			
										height: 2em;		
									}
									@media all and (max-width: 550px){
										margin-bottom: 1em;
										font-weight: bold;
									}

							}
							.interested-body{
									font-family: 'Open Sans';
									// text-align: justify;
									margin-top: 0.25em;
									@media all and (max-width: 1100px){
										font-size: 0.9em;	
										line-height: 1.5em;
									}
									@media all and (max-width: 550px){
										line-height: 1.8em;
										font-size: 1.1em;
									}
							}
				.bio-wrapper{
					border-top: 4px solid white;
					.flex;
					width: 100%;
					background-color: darken(white, 5);
				}
					.leader-bio{
						// width: 66.666%;
						width: 100%;
						padding: 2em;
						padding-top: 1em;	
						@media all and (max-width: 550px){
							padding-top: 4em;
							padding-bottom: 4em;
						}
					}
						.leader-name{
							font-size: 1.6em;
							// font-family: 'Arvo';
							// font-family: 'Nunito';
							font-family: 'Arvo';
							color: darken(white, 60);
							@media all and (max-width: 550px){	
								margin-bottom: 1.6em;
								margin-top: 0em;
							}
						}
						.leader-position{
							font-size: 1.4em;
						}
						.leader-bio-text{
							font-family: 'Open Sans';
							text-align: justify;
							@media all and (max-width: 950px){
								font-size: 0.9em;
							}
							@media all and (max-width: 550px){	
								font-size: 1.1em;
								line-height: 1.4em;
							}
						}
					.leader-photo{
						padding: 3em 2em;
						width: 33.333%;
						.flex-center-image;
						img{
							max-height: 300px;
						}
					}
				.position-description-mobile{
					border-top: @perforated-border;
					padding: 2em;
					@media all and (min-width: 950px){	
						display: none;
					}
					@media all and (max-width: 550px){
						padding-top: 4em;
						padding-bottom: 4em;
					}

				}
					.position-description-mobile-wrapper{

					}
	// Novapex

	.novapex-wrapper{
		height: auto;
	}
		.novapex-heading .header-texture-layer{
				@media all and (max-width: 750px){
					border-bottom: none;
				}	
			}
		.novapex-heading{
			@media all and (max-width: 750px){
				border-bottom: none;
			}
		}
	.novapex-body-wrapper{
		width: 100%;
		.flex;
		border-bottom: @perforated-border;
		@media all and (max-width: 850px){
			flex-direction: column;
		}
	}	
		.novapex-content{
			background-color: @main-light;
			// float: left;
			width: 60%;
			padding: 2em;
			padding-bottom: 1em;
			padding-top: 1.25em;
			border-right: @perforated-border;
			@media all and (max-width: 850px){
				width: 100%;
				order: 2;
				border-right: none;
				padding-top: 4em;
				padding-bottom: 4em;
			}
		}	
			.novapex-header{
				// width: 80%;
				margin-top: 1em;
				// margin-left: 10%;
				margin-bottom: 1.5em;
				font-family: 'Arvo';
				font-size: 1.6em;
				color: darken(gray,10);
				@media all and (max-width: 1100px){
					font-size: 1.4em;
					margin-top: 0.5em;
					margin-bottom: 0.8em;
				}	
				@media all and (max-width: 750px){
					text-align: center;
					font-size: 1.6em;
					margin-bottom: 2em;
				}	
			}	
			.novapex-header.ul-header{
				font-size: 1.4em;
				@media all and (max-width: 1100px){
					font-size: 1.2em;
					margin-bottom: 0.5em;
					margin-top: 0.5em;
				}
				@media all and (max-width: 850px){
					text-align: center;
					margin-top: 2em;
					margin-bottom: 1.5em;
					font-size: 1.4em;
				
				}	
			}

				.novapex-content-block{
					// width: 80%;
					font-size: 1.1em;
					// margin-left: auto;
					// margin-right: auto;
					margin-bottom: 1em;
					line-height: 1.5em;
					font-family: 'Arimo';
					text-align: justify;
					@media all and (max-width: 1100px){
						font-size: 1em;
						text-align: left;
					}
					@media all and (max-width: 850px){
						font-size: 1.1em;
					}	

				}
		.novapex-right{
			// float: left;
			width: 40%;
			overflow-x: hidden;
			*{
				overflow: hidden;
			}
			background-image: url('../assets/textures/concrete_seamless.png');
			@media all and (max-width: 850px){
				width: 100%;
				order: 1;
			}
		}
			.novapex-docs{
				
				width: 100%;
				height: 6em;
				background-color: darken(@main, 10);
				border-top: @perforated-border;
				border-bottom: @perforated-border;
				font-family: 'Nunito';
				.flex;
			}
				.novapex-docs-header{
					flex-grow: 2;
					text-align: center;
					font-size: 1.3em;
					font-weight: bold;
					line-height: (6em/1.3em);
					border-right: @perforated-border;
				}
				.novapex-docs-links{
					width: 8em;
					background-color: darken(@main, 5);
				}
					.novapex-doc-link{
						width: 100%;
						height: 3em;
						text-align: center;
						line-height: 3em;
						&:first-child{
							border-bottom: 2px solid lighten(gray,15);
						}
						&:hover{
							cursor: pointer;
							background-color: rgba(0, 0, 0, 0.28);
							color: white;
						}
					}	
			.novapex-gallery-container{
				position: relative;
			}		
				.centennial-logo{
					width: 80%;
					margin: 3em 10%;	
				}
		.novapex-listings{
			width: 100%;
			.flex;
			@media all and (max-width: 1400px){
				.flex-wrap;
			}
			@media all and (max-width: 725px){
				display: block;
				margin: 0 auto;
			}
		}
			.novapex-listings-header{
				font-family: 'Arvo';
				color: darken(gray,10);
				@media all and (max-width: 850px){
					font-size: 1.2em;
					text-align: center;
					margin-bottom: 2.5em;
					margin-top: 2em;

				}
			}
			.multicol-table{
				margin-top: 2.2em;
				width: 100%;
				max-width: 100%;
				border: 4px solid lighten(gray,40);
				box-shadow: 2px 2px 6px 3px rgba(100,100,100,0.55);
				font-size: 0.9em;
				font-family: 'Nunito';

				overflow: hidden;
				@media all and (max-width: 1600px){
					font-size: 0.8em;
				}
				@media all and (max-width: 1400px){
					font-size: 0.9em;
				}
				@media all and (max-width: 800px){
					font-size: 0.8em;
				}
				@media all and (max-width: 700px){
					font-size: 0.7em;
				}
				@media all and (max-width: 585px){
					font-size: 0.65em;
				}
				@media all and (max-width: 550px){
					font-size: 0.6em;
				}
				@media all and (max-width: 515px){
					overflow: hidden;
				}
				// @media all and (max-width: 400px){
				// 	font-size: 0.55em;
				// }
				
			}	
				.multicol-col{
					flex-shrink: 2;
					@media all and (max-width: 725px){
						// flex-grow: 2;
					}	
				}

				.multicol-tbody{
					
				}
					.multicol-tr{

						.flex;
						padding: 35px 15px 20px 15px;
						justify-content: space-between;
						max-width: 100% ;
						overflow: hidden;						
						@media all and (max-width: 515px){
							padding-left: 5px;
							padding-right: 5px;
						}
					}
					.dealers-tr{
						// padding-top: 40px;
						max-width: 100%;
						overflow: hidden;
					}
						.multicol-col{
							max-width: 100%;
							overflow: hidden;
						}
							.paragraph{
								padding: 0 5px;
								max-width: 100%;
								white-space: nowrap;
								overflow: hidden;
							}
			
			.novapex-listings-table{
				width: 50%;
				padding: 40px;
				min-width: 700px;
				@media all and (max-width: 1400px){
					width: 100%;
				}	
				@media all and (max-width: 725px){
					padding-left: 15px;
					padding-right: 15px;
					max-width: 100%;
					min-width: 0px;
					overflow: hidden;
				}
				@media all and (max-width: 520px){
					padding-left: 5px;
					padding-right: 5px;
				}	
			}
			.novapex-listings-exhibits{
				border-right: @perforated-border;
				@media all and (max-width: 1400px){
					
					border: none;
					border-bottom: @perforated-border;
				}
				@media all and (max-width: 725px){
					
				}
			}

			.novapex-listings-dealers{
			
			}
	

	// Calendar

		.calendar-wrapper{
			.flex-wrap;
		}
		.calendar-left-wrapper{
			width: 70%;
			min-width: 600px;
			padding: 0;
			@media all and (max-width: 900px){
				min-width: 0px;
				width: 100%;
			}

		}
			.calendar-left{
				.flex;
				width: 100%;
				margin-top: 2em;
				@media all and (max-width: 900px){
					width: 90%;
					margin-left: 5%;
				}
				@media all and (max-width: 600px){
					width: 98%;
					margin-left: 1%;
				}
			}	


			.calendar-header{
				
				width: 100%;
				display: block;
				
			}
				.calendar-container{
					width: 80%;
					margin: 0 auto 5em auto;
					@media all and (max-width: 900px){
						width: 100%;
						margin-left: 0px;
						margin-right: 0px;
					}
				}
					.calendar-heading{
						.flex;
						justify-content: space-between;
						width: 100%;
						height: 15%;
						margin-bottom: 1em;
						h2{
							color: darken(gray, 10%);
							font-family: 'Arvo';
						}
					}
						.calendar-prev-btn{
							color: darken(gray, 10%);
							font-family: 'Nunito';
							width: 170px;
							font-weight: bold;
							.vertically-center-children;
							align-items: flex-start;
							span:hover{
								cursor: pointer;
								color: darken(green,3);
							}
						}
						.calendar-month-text{
							
							white-space: nowrap;
							@media all and (max-width: 500px){
								font-size: 0.9em;
							}
						}
						.calendar-current-month{
							white-space: nowrap;
						}
						.calendar-next-btn{
							color: darken(gray, 10%);
							font-family: 'Nunito';
							width: 170px;
							font-weight: bold;
							.vertically-center-children;
							align-items: flex-end;
							span:hover{
								cursor: pointer;
								color: darken(green,3);
							}
						}
				
					.calendar-row{
						// height: (85%/6);
						border-top: 2px solid black;
						
						height: 90px;
						@media all and (max-width: 1050px){
							height: 80px;
						}
						@media all and (max-width: 970px){
							height: 75px;
						}
						@media all and (max-width: 900px){
							height: 100px;
						}
						@media all and (max-width: 800px){
							height: 90px;
						}
						@media all and (max-width: 700px){
							height: 80px;
						}
						@media all and (max-width: 600px){
							height: 67px;
						}
						@media all and (max-width: 500px){
							height: 55px;
						}
					}
					.dayofweek-row{

					}
					.dayofweek-row .calendar-cell{
						border-bottom: 2px solid lighten(gray, 35);
						background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 47%, rgba(235,235,235,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=1 );
						
					}
					.calendar-row:last-child{
						border-bottom: 2px solid black;
					}
					// .calendar-row:not(:nth-child(1)){
					// 	border-top: none;
					// }	
						.calendar-cell{
							width: (100%/7);
							height: 100%;
							border-left: 2px solid black;
							
							display: inline-block;
							overflow: hidden;
						}
						.calendar-cell:last-child{
							border-right: 2px solid black;
						}
						.calendar-cell-active{
	
						}
						.calendar-cell-event{
							
						}

						
							.calendar-dayofweek{
								height: 100%;
								.vertically-center-children;
							}
							.calendar-datebox{
								.vertically-center-children;
								width: 25px;
								// padding-left: 2px;
								border-right: 1px solid lighten(gray,25);
								border-bottom: 1px solid lighten(gray,25);
								@media all and (max-width: 1050px){
									font-size: 0.9em;
								}
								@media all and (max-width: 900px){
									font-size: 1em;
								}
								@media all and (max-width: 700px){
									font-size: 0.85em;
								}
								@media all and (max-width: 600px){
									font-size: 0.75em;
								}
								@media all and (max-width: 500px){
									font-size: 0.65em;
								}
							}
							.calendar-event-name{
								font-size: 0.75em;
								text-align: center;	
								width: 80%;
								padding-left: 4px;
								padding-right: 4px;
								
								margin: 10px auto 0 auto;
								// background-color: darken(white, 5%);
								background-color: lighten(#66BFE8, 30);
								box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
								&:hover{
									cursor: pointer;
									background-color: darken(white, 25%);
									color: white;
								}
								@media all and (max-width: 1000px){
									font-size: 0.7em;
								}
								@media all and (max-width: 900px){
									font-size: 0.8em;
								}
								@media all and (max-width: 700px){
									font-size: 0.7em;
									padding-left: 2px;
									padding-right: 2px;
								}
								@media all and (max-width: 580px){
									font-size: 0.65em;
								}
								@media all and (max-width: 500px){
									font-size: 0.55em;
								}
							}
							.calendar-cell.today{
								background: linear-gradient(135deg, rgba(255,255,255,1) -30%, rgba(252,252,252,1) 7%, lighten(#A6E88B, 20) 120%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=1 );
								.calendar-datebox{
									font-weight: bold;
									border-right: 2px solid lighten(gray,2);
									border-bottom: 2px solid lighten(gray,2);
								}
								// background-color: lighten(#A6E88B, 20);
							}
			.calendar-right{
				background-color: @main;
				width: 30%;
				.flex;
				border-left: @perforated-border;
				@media all and (max-width: 900px){
					width: 100%;
					border-left: none;
				}
			}	
				.calendar-details{
					font-family: 'Nunito';
					width: 100%;
				}
					.calendar-details-heading{
						width: 100%;
						text-align: center;
						font-size: 2em;
						margin-top: 1em;
						font-family: 'Arvo';
						
						@media all and (max-width: 1200px){
							font-weight: bold;
							margin-top: 2em;
							margin-bottom: 1.0em;							
						}
						@media all and (max-width: 900px){
							font-weight: bold;
							margin-top: 2.5em;
							margin-bottom: 1.7em;							
						}

					}
					.calendar-details-wrapper{
						.flex-column;
						justify-content: space-around;
						height: 20em;
						margin: 1em 10%;
						@media all and (max-width: 900px){
							height: auto;
						}
						@media all and (max-width: 900px){
							margin: 1em 5%;
						}
					}	
						.calendar-event{
							overflow: hidden;	
							width: 100%;
							min-height: 4em;
							flex-grow: 2;
							// overflow: hidden;
							.flex;
							padding-bottom: 10px;
							justify-content: space-between;
							@media all and (max-width: 900px){
								padding-bottom: 43px;
							}
						}
							.calendar-event-label{
								text-align: left;
								display: inline-block;
								width: 20%;
								min-width: 120px;
								font-weight: bold;
								@media all and (max-width: 1200px){
									font-size: 0.9em;
									min-width: 90px;
								}
								@media all and (max-width: 900px){
									font-size: 1.1em;
									text-decoration: underline;
								}
								@media all and (max-width: 500px){
									padding-right: 10px;	
								}
								@media all and (max-width: 450px){
									padding-right: 10px;
									font-size: 0.9em;	
								}
							}
							.calendar-event-value{
								width: 70%;
								text-align: left;
								@media all and (max-width: 1200px){
									font-size: 0.9em;
								}
								@media all and (max-width: 900px){
									font-size: 1.1em;
								}
								@media all and (max-width: 500px){
									font-size: 1.0em;
								}
								@media all and (max-width: 450px){
									font-size: 1em;
								}
							}
							.calendar-details-name{
							
							} 
							.calendar-details-time{

							} 
							.calendar-details-location{

							} 
							.calendar-details-description{

							} 
							.calendar-details-note{

							} 
						.calendar-details-map{
							width: 81%;
							height: 300px;
							margin-left: 10%; 
							margin: 2em auto;
							overflow: hidden;
							border: 1px solid black;
							@media all and (max-width: 500px){
								width: 90%;
							}
						} 
	// Links

	// .links-header{
	// 	width: 100%;
	// 	height: 2em;
	// }
	.links-content{
		.flex-wrap;
		width: 100%;
		position: relative;
		height: auto;
		margin-top: 2em;

		
	}
		.links-category{
			width: 100%;
			display: block;
			z-index: 2;
			border-bottom: 3px dashed lighten(gray,30);
			padding-bottom: 2em;
			margin-bottom: 1.5em;
			&:last-child{
				border-bottom: none;
			}
		}
				.link-category-header{
					padding-left: 25px;
					width: 100%;
					display: block;
					h3{
						color: darken(gray,10);
						font-size: 1.3em;
						margin-top: 1.5em;
						margin-bottom: 0.7em;
						font-family: 'Arvo';
						@media all and (max-width: 900px){
							margin-bottom: 1.7em;
							margin-top: 3em;
							font-size: 1.6em;
							text-align: center;
						}
						@media all and (max-width: 700px){
							margin-bottom: 0.7em;
							margin-top: 2em;
							font-size: 1.4em;
						}
						@media all and (max-width: 500px){
							font-size: 1.3em;
						}
					}
				}
		.link-wrapper{
			position: relative;
			float: left;
			width: 50%;
			min-height: 5em;
			height: auto;
			padding-left: 25px;
			padding-right: 25px;
			margin: 1em 0;
			overflow: hidden;
			@media all and (max-width: 900px){
				width: 100%;
				margin: 2em auto;
			}
		}
		.link-wrapper.expanded{

		}
			.link{
				// transition: 1s;
				// max-height: 125px;
				// height: 125px;
				background-image: url('../assets/textures/square_bg.png');
				background-color: rgba(120, 120, 120, 0.2);
				border-radius: 3px;
				box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
				overflow: hidden;
			}
			.link.expanded{
				// max-height: 250px;
				// height: 250px;
			}
			.link-expand, .link-collapse{
				color: darken(gray,10);
				font-size: 0.7em;
				margin-top: 3px;
				text-decoration: underline;
				&:hover{
					cursor: pointer;
					
					color: black;
				}
				@media all and (max-width: 900px){
					font-size: 0.8em;
					font-weight: bold;
					margin-top: 10px;
				}
			}
				.link-content-wrapper{
					padding: 8px;
					&:hover{
						cursor: pointer;
						background-color: rgba(255,255,255, 0.3);
					}
					// border-bottom: 1px dashed gray;
					
				}
					.link-content{
						width: 100%;
						height: 90px;
						// margin: 0 auto;
						.flex;
						justify-content: space-between;
						overflow: hidden;
					}
					.link-synopsis-wrapper{
						position: relative;
						flex-grow: 2;
						z-index: 1;
						height: 90px;
						overflow: hidden;
					}
						.link-title{
							overflow: hidden;
							white-space: nowrap;
							font-weight: bold;
							font-size: 1.1em;
							height: 24px;
							@media all and (max-width: 1200px){
								font-size: 1em;
							}
							@media all and (max-width: 1150px){
								font-size: 0.9em;
							}
							@media all and (max-width: 1020px){
								font-size: 0.85em;
							}

							@media all and (max-width: 900px){
								font-size: 1.1em;
							}
							@media all and (max-width: 620px){
								font-size: 1em;
							}
							@media all and (max-width: 575px){
								font-size: 0.9em;
							}
							@media all and (max-width: 525px){
								font-size: 0.8em;
							}
							
						}	
						.link-title-divider{
							position: relative;
							height: 2px;
							margin: 1px 0 7px 0;
							
							.link-divider-opacity-layer{
								position: absolute;
								width: 100%;
								height: 100%;
								.header-opacity(lighten(gray,35));
								z-index: 2;
							}	
							.link-divider-background-layer{
								border-bottom: 2px dashed gray;
								position: absolute;
								width: 100%;
								height: 100%;
								z-index: 1;
							}
							// height: 2px;
						}
						.link-description{
							font-size: 0.9em;
							font-family: 'Roboto';
							overflow: hidden;
							height: 66px;
							// line-height: 1.5em;
							@media all and (max-width: 575px){
								font-size: 0.8em;
							}
						}

					.link-image-wrapper{
						height: 100%;
						width: 230px;
						position: relative;	
						.vertically-center-children;
						align-items: flex-end;
						@media all and (max-width: 1200px){
							width: 200px;
						}
						@media all and (max-width: 1120px){
							width: 180px;
						}
						@media all and (max-width: 1050px){
							width: 160px;
						}

						@media all and (max-width: 900px){
							width: 230px;
						}
						@media all and (max-width: 700px){
							width: 160px;
						}
						@media all and (max-width: 500px){
							width: 120px;
						}
					}
						.link-image{
							max-height: 80px;
						}
						.link-image.americanPhilatelicFoundation{
							max-height: 50px;
						}
						.link-image.linnsStampNews{
							max-height: 40px;
						}
				.link-content-expanded{
					padding: 8px;
				}
					.link-about{
						margin-bottom: 15px;
						font-family: 'Arvo';
						line-height: 1.3em;

					}
					.link-url{
						font-family: 'Arimo';
						a{
							font-family: 'Oswald';
							font-size: 0.9em;
						}
						a:hover{
							color: darken(green,3);
						}
					}

	.ghost-column{
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		// border-right: 1px dashed gray;
		height: 100%;
		z-index: 1;
	}
	
	// News&Links
				
		.news-articles-wrapper{
			position: relative;
			.flex-wrap;
		}
			.news-articles-left{
				.flex;
				width: 75%;	
				background-color: @main-light;
				@media all and (max-width: 1300px){
					width: 70%;
				}
				@media all and (max-width: 1150px){
					width: 65%;
				}
				@media all and (max-width: 1050px){
					width: 100%;
					padding-bottom: 80px;
					border-bottom: @perforated-border;
				}
			}	
				.news-wrapper{
					width: 100%;
					// padding: 10px;
				}
					.news-header{
						width: 100%;
						position: relative;
						// height: em;

						// padding-left: 14px;
						
					}
						.mobile-section-link{
							color: black;
							font-weight: bold;
							position: absolute;
							bottom: 5px;
							right: 15px;
							z-index: 11;


							@media all and (min-width: 1051px){
								display: none;
							}
							@media all and (max-width: 650px){
								font-size: 0.9em;
								bottom: 3px;
								right: 5px;
							}
							@media all and (max-width: 500px){
								font-size: 0.8em;
							}
							&:hover{
								cursor: pointer;
								color: gray;
								text-decoration: underline;
							}
						}	
						.mobile-section-link:hover{
							cursor: pointer;
								color: gray;
								text-decoration: underline;
						}
					
					.news-grid-wrapper{
						padding: 10px;
					}
						.news-grid{
							
							width: 100%;
						}

						// NEWS TILE

							.news-tile{
								width: 20%;
								position: relative;
								
								padding: 5px;
								@media all and (max-width: 1400px){
									width: 25%;
								}
								@media all and (max-width: 1200px){
									width: 33.333%;
								}
								@media all and (max-width: 700px){
									width: 50%;
								}
								@media all and (max-width: 470px){
									width: 100%;
									padding-top: 20px;
									padding-bottom: 20px;
								}
							}
							.news-tile.double-wide{
								width: 40%;
								@media all and (max-width: 1400px){
									width: 50%;
								}
								@media all and (max-width: 1200px){
									width: 66.667%;
								}
								@media all and (max-width: 700px){
									width: 100%;
								}
								@media all and (max-width: 470px){
									padding-top: 20px;
									padding-bottom: 20px;
								}
							}
							.news-tile.bottom{
								padding-bottom: 0;
							}

								.news-tile-wrapper{
									background-image: url('../assets/textures/crossword.png');
									position: relative;
									// padding: 15px;
									background-color: darken(white, 3);
									border: 1px solid lighten(gray,32);
									// border-radius: 5px;
									box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
									z-index: 1;
									// opacity: 0.99;
									overflow: hidden;
									.flex-column;
									justify-content: space-between;
									transition: border 250ms;
									&:hover{
										cursor: pointer;
										// padding: 2px;
										border: 1px solid black;
										
										.news-tile-content{
											background-color: lighten(gray, 45);
										}	
									}
								}
								// .news-tile-wrapper.left{
								// 	.flex;

									
								// }

									.news-tile-img{ 
										flex-grow: 2;
										img{
											z-index: 2;
											width: 100%;
										}
									}
									.news-tile-img.background{
										top: 0;
										left: 0;
										position: absolute;
										width: 100%;
										height: 100%;
										z-index: 2;
										opacity: 0.20;
									}
									.news-tile-img.top{
										width: 100%;
									}
									.news-tile-img.top-inset{
										width: 100%;
										padding: 10px;
										background-color: lighten(@article-bg, 5);
									}
									.news-tile-img.bottom{
										width: 100%;
										margin-bottom: -7px;
										img{
											height: 100%;
										}
									}
									.news-tile-img.left{
										// display: inline-block;
										// position: relative;
										// height: 100%;	
										img{
											height: auto;
										}
									}	
									.news-tile-img.bottom{
										order: 2;
									}
										
									.news-tile-img.none{
										display: none;
									}
									.news-tile-content{
										padding: 5px;
										position: relative;
										color: black;
										
										overflow: hidden;

										// display: none;
										// outline: 1px solid black;
										z-index: 3;
									}	
										.news-tile-refer{
											position: absolute;
											top: 0;
											left: 0;
											font-family: 'Oswald';
											line-height: 1.4em;
											font-size: 0.9em;
											width: 100%;
											padding: 2px 5px;
											.simple;
										}
										.news-tile-date{
											position: absolute;
											bottom: 0;
											right: 0;
											font-family: 'Oswald';
											line-height: 1.2em;
											font-size: 0.8em;
											// width: 6em;
											// background-color: green;
											border-top: 1px dashed gray;
											border-left: 1px dashed gray;
											padding: 0.1em 0.5em;
										}
										.news-tile-title{
											
											font-size: 1.0em;
											margin-top: 1.8em;
											margin-bottom: 0.4em;
											font-family: 'Arimo';
											font-weight: bold;
										}
										
										.news-tile-summary{
											margin-bottom: 2em;
											font-size: 0.9em;
											font-family: 'PT Sans';
											// font-weight: bold;
										}


					// Specific Article Overrides		
						.news-tile.article-0 .news-tile-wrapper .news-tile-content{
							height: 224px;
						}
		
			.news-articles-right{
				.flex;
				// height: 30em;
				width: 25%;	
				background-color: lighten(@main, 0);
				@media all and (max-width: 1300px){
					width: 30%;
				}
				@media all and (max-width: 1150px){
					width: 35%;
				}
				@media all and (max-width: 1050px){
					width: 100%;
				}
				*{
						overflow: hidden;
					}
			}
				.articles-wrapper{
					width: 100%;
					border-left: @perforated-border;
				}
					.articles-header{
						
						width: 100%;
						height: 6em;
						
						.flex;
					}
						.articles-content{
							flex-grow: 2;
							text-align: center;
							font-size: 1.3em;
							font-weight: bold;
							line-height: (6em/1.3em);
						}	
						.articles-container{
							.flex-wrap;
							@media all and (max-width: 1050px){
								padding-top: 5em;
								padding-bottom: 5em;
								
							}
						}	
							.article-wrapper{
								width: 50%;
							}
								.article-thumb{
									margin: 20px auto;	
									width: 150px;
									height: 200px;
									background-color: white;
									box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
									img{
										width: 100%;
										height: 100%;
									}
									// transition: outline 550ms linear;
									&:hover{
										cursor: pointer;
										outline: 3px solid lighten(gray,15);
									}
								}
								.article-description{
									width: 80%;
									margin: 0 auto;
									text-align: center;
									font-size: 0.8em;
									font-family: 'Nunito';
								}

	// Contact

// Modal
	.modal-section{	
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
		display: none;
		z-index: 10;
	}
	.modal-section.modal-active{	
		display: block;
	}
		.modal-body{
			padding: 3em;
			background-color: white;
			position: fixed;
			width: 70%;
			margin-left: 15%;
			margin-top: 3em;
			min-height: 30em;

			.modal-close-button{
				cursor: pointer;
				position: absolute;
				top: 1px;
				right: 10px;
				color: black;
				font-size: 28px;
				&:hover{
					color: #cf0e09;
				}
			}

			iframe{
				width: 100%;
				height: 50em;
			}
		}


	.footer{
		height: 4em;
		background-image: url('../assets/textures/wood.png');
		@media all and (max-width: 630px){
			height: 8em;
		}
	}
		.footer-content{
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.1);
			color: white;
			.flex;
			justify-content: space-between;
			font-family: 'Nunito';
			font-size: 0.8em;
			padding: 5px 25px;
			@media all and (max-width: 750px){
				font-size: 0.7em;
			}
			@media all and (max-width: 630px){
				height: 8em;
				display: block;
			}
			@media all and (max-width: 420px){
				padding: 5px 10px;
				font-size: 0.6em;
			}
		}

			.footer-copyright{
				height: 100%;
				@media all and (max-width: 630px){
					height: 50%;
					width: 100%;
					display: block;
					text-align: center;
				}
			}
				.footer-copyright-top{
					height: 50%;
					.vertically-center-children;
					align-items: flex-start;
					@media all and (max-width: 630px){
						align-items: center;
					}
				}
				.footer-copyright-bottom{
					height: 50%;
					.vertically-center-children;
					align-items: flex-start;
					@media all and (max-width: 630px){
						align-items: center;
					}
				}
			.footer-created-by{
				height: 100%;
				@media all and (max-width: 630px){
					height: 50%;
					width: 100%;
					display: block;
				}
			}
				.footer-created-by-top{
					height: 50%;
					.vertically-center-children;
					align-items: flex-end;
					@media all and (max-width: 630px){
						align-items: center;
					}
				}
				.footer-created-by-bottom{
					height: 50%;
					.vertically-center-children;
					align-items: flex-end;
					@media all and (max-width: 630px){
						align-items: center;
					}
				}
// Animations

	.fade {
	  opacity: 1;
	}
	.fade.ng-hide-add, .fade.ng-hide-remove {
	  transition: opacity linear 0.1s;
	}
	.fade.ng-hide {
	  opacity: 0;
	}
	.fade.ng-enter {
	  transition:0.5s linear all;
	  opacity:0 !important;
	}
	/* The finishing CSS styles for the enter animation */
	.fade.ng-enter.ng-enter-active {
	  opacity:1 !important;
	}
	.fade.ng-leave {
	  transition:0.5s linear all;
	  opacity:1 !important;
	}
	.fade.ng-leave.ng-leave-active {
	  opacity:0 !important;
	}
	









// Contact Form

/** {
	margin: 0;
	padding: 0;
}
*/
body.contact-active {
	
	background: url(../contactFOrm/images/stripe.png) repeat;


/*p {
	font-size: 1.3em;
	margin-bottom: 15px;
}
*/
#page-wrap {
	outline: @perforated-border;
	width: 660px;
	background: white;
	padding: 35px 30px 20px 30px;
	margin: 50px auto 50px auto;
	min-height: 500px;
	height: auto !important;
	/*height: 500px;*/
}
.contact-header{
	text-align: center;
	font-family: 'Arvo';
	margin-bottom: 1.5em;
}
.contact-message{
	text-align: center;
	font-family: 'Nunito';
	margin-bottom: 2em;
}
#contact-area {
	// width: 600px
	width: 600px;
	margin: 25px 0;
}
#contact-area form{
	margin-top: 1.5em;
	width: 600px;
}
#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
	margin-right: 14px;
	margin-bottom: 30px;
}

label {
	font-family: 'Arvo';

	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.0em;
}
}