<!-- div.home-section -->
<div class="home-wrapper anim-fade" id="home-wrapper">	

	<div class="home-who-section home-section">	
		<div class="home-who-wrapper">
			<div class="home-heading page-heading">
				<h2>Who are we?</h2>
				<div class="header-opacity-layer links-header-opacity-layer"></div>
				<div class="header-texture-layer"></div>
			</div>
			<div class="who-content-block content-block">
				The Redding Stamp Club is the premier philatelic organization of Shasta County, California. Our members' interests and collections cover a wide array of stamp collecting. This includes worldwide and specific countries encompassing perfins, covers, train cancels, revenues, pre-cancelled and more
			</div>
			<div class="home-who-image-container">
				<img class="who-image-vert" src="assets/img/photos/p4crop.jpg" alt="">
				
				<div class="who-image-horiz">
					<img src="assets/img/photos/p4crophoriz.jpg" alt="">
				</div>	
			</div>	
		</div>		
	</div>

	<div class="home-hot-section home-section">	
		<div class="home-heading page-heading">
			<h2>Quick Links</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
		<div class="home-hot-links ">
			<div class="hot-link-wrapper" ui-sref="novapex">
				<div class="hot-link">
					<div class="hot-link-content">		
						<div class="hot-link-title">
							NOVAPEX Palmares
						</div>
						<div class="hot-link-text">
							Awards from the 2016 NOVAPEX exhibition
						</div>
					</div>	
					<div class="hot-link-go">	
						<img class="hot-link-go-icon" src="assets/img/double-chevron-solid.png" alt="">
					</div>
				</div>
			</div>
			<div class="hot-link-wrapper" ui-sref="novapex">
				<div class="hot-link">
					<div class="hot-link-content">		
						<div class="hot-link-title">
							NOVAPEX Prospectus
						</div>
						<div class="hot-link-text">
							Rules and regulations for the annual NOVAPEX exhibition
						</div>
					</div>	
					<div class="hot-link-go">	
						<img class="hot-link-go-icon" src="assets/img/double-chevron-solid.png" alt="">
					</div>
				</div>
			</div>
			<div class="hot-link-wrapper" ui-sref="calendar">
				<div class="hot-link">
					<div class="hot-link-content">		
						<div class="hot-link-title">
							Upcoming Events
						</div>
						<div class="hot-link-text">
							See what's coming up in Northern CA philately
						</div>
					</div>	
					<div class="hot-link-go">	
						<img class="hot-link-go-icon" src="assets/img/double-chevron-solid.png" alt="">
					</div>
				</div>
			</div>
			<div class="hot-link-wrapper" ui-sref="contact">
				<div class="hot-link">
					<div class="hot-link-content">		
						<div class="hot-link-title">
							Have a Question?
						</div>
						<div class="hot-link-text">
							Send us an email here
						</div>
					</div>	
					<div class="hot-link-go">	
						<img class="hot-link-go-icon" src="assets/img/double-chevron-solid.png" alt="">
					</div>
				</div>
			</div>
		</div>
	
	</div>

	<!-- <div class="home-news-section home-section">	
		<div class="home-heading page-heading">
			<h2>Club News</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
		<div class="home-news-wrapper">	
			<div class="home-news-wrapper-content">	

			</div>
			<div class="home-news-wrapper-image">	
				<img src="assets/img/nova1.png" alt="">
			</div>
		</div>
	
	</div> -->

	<div class="home-media-section home-section">	
		<div class="home-heading page-heading">
			<h2>In the Media</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
		<div class="home-media-links">
			
			<div class="home-media-link-wrapper" ng-repeat="item in news | orderBy: sortDate:true | limitTo:5">
				<a href="{{item.src}}">
					<div class="home-media-link">
						<div class="media-link-content">
							<div class="media-link-meta">
								<div class="media-link-date">
									{{item.date}}
								</div>
							<!-- 	<div class="media-link-refer">
									{{item.referer}}
								</div> -->

							</div>		
							<div class="media-link-title">
								<div class="media-link-title-text">
									{{item.title}}
								</div>
							</div>
								
						</div>
						<img ng-src="{{item.image.src}}" class="media-link-image">
					</div>	
				</a>	
			</div>
		</div>
	</div>

	<div class="home-info-section home-section">	
		<div class="home-heading page-heading">
			<h2>Stamp of the Week</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
		<div class="info-section-wrapper">
			<p class="info-section-content-block">
				The Penny Black was the world's first adhesive postage stamp used in a public postal system. It first was issued in Great Britain on 1 May 1840, for official use from 6 May of that year. It features a profile of Queen Victoria.
			</p>
				
			<p class="info-section-content-block">
				In 1837, British postal rates were high, complex and anomalous. To simplify matters, Sir Rowland Hill proposed an adhesive stamp to indicate pre-payment of postage. At the time it was normal for the recipient to pay postage on delivery, charged by the sheet and on distance travelled. By contrast, the Penny Black allowed letters of up to half an ounce (14g) to be delivered at a flat rate of one penny, regardless of distance.
			</p>
			<p class="info-section-content-block remove-content-mobile">
				The Penny Black lasted less than a year. A red cancellation was hard to see on the black design and the red ink was easy to remove; both made it possible to re-use cancelled stamps. In February 1841, the Treasury switched to the Penny Red and began using black ink for cancellations instead, which was more effective and harder to remove.
			</p>

			<p class="info-section-content-block">
				Because Great Britain was the first country to issue an official postage stamp the UPU granted Great Britain the right to be the only country without its name on its stamps.
			</p>
			<img class="info-section-stamp-image" src="assets/img/pennyblack-combined.png" alt="" align="right">
		</div>
	</div>

	<div class="home-corner-section home-section">	
		<div class="home-heading page-heading">
			<h2>President's Corner</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
		<div class="home-corner-wrapper">	
			<div class="home-corner-wrapper-content">	
				<p class="home-corner-wrapper-paragraph">
					<span class="home-corner-first-words">NOVAPEX 2016</span> is now behind us. As always the members of the Redding Stamp Club came together to carry out a flawless Stamp Show for Redding and Northern California. The only downside was the continued decline of public participation. It appears that each year more and more collectors are choosing the internet as an alternative to sitting down with dealers at the show. It is a loss because there is nothing like sitting down with a dealer and actually holding a subject stamp before making a purchase.
				</p>	 
				<p class="home-corner-wrapper-paragraph">
					In any event a good time was had by all. My gratitude goes out to each and every member of the club for their unselfish contributions to its success. I’m sure they had a grand old time and enjoyed themselves. I know I did. There was plenty of time to sit down with members of the public and talk about stamps. A few have paid dues to become a new club member. I know for them that we as a club will contribute to their growth and fun expanding their collecting interests and fellowship.
				<p class="home-corner-wrapper-paragraph">
					NOVAPEX 2017 is not a likelihood due to the APS Western Show to be held in Reno the first weekend in March, our normal date. The club will be evaluating the next show and how to increase public participation.
				</p>	 
				<p class="home-corner-wrapper-paragraph"> 
					Finally, this website is a new for our club. We have expanded the content considerably from our previous website. To keep it fresh we are looking for any material that would expand our stamp education. Feel free to offer any suggestions. Special thanks go to my son Chris who both designed this site and is its webmaster. Great job Chris!
				</p>
			</div>
			<div class="home-corner-wrapper-signature">
				
				<div class="corner-signature-content">
					<div class="corner-signature-content-spacer">
						
					</div>
					<div class="corner-signature-content-text">
						<div class="corner-signature-name">Mark Woodward</div>
						<div class="corner-signature-title">Redding Stamp Club President</div>
					</div>
				</div>
				<div class="corner-signature-photo">
					<img src="assets/img/photos/markimage3.jpg" alt="">
				</div>
			</div>

	<!-- 		<div class="home-corner-wrapper-image">	
				<img src="assets/img/nova1.png" alt="">
			</div> -->
		</div>
	</div>
</div>