<!-- div.home-section -->
<div class="home-wrapper">	

	<div class="home-who-section home-section">	
		<div class="home-heading page-heading">
			<h2>Who are we?</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
	
	</div>

	<div class="home-hot-section home-section">	
		<div class="home-heading page-heading">
			<h2>Hot Links</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
	
	</div>

	<div class="home-news-section home-section">	
		<div class="home-heading page-heading">
			<h2>Club News</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
			
		</div>
	
	</div>

	<div class="home-media-section home-section">	
		<div class="home-heading page-heading">
			<h2>In the Media</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
	</div>

	<div class="home-info-section home-section">	
		<div class="home-heading page-heading">
			<h2>Important Info</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
	</div>

	<div class="home-corner-section home-section">	
		<div class="home-heading page-heading">
			<h2>President's Cornerr</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
	</div>
</div>