<!-- div.home-section -->
<div class="home-wrapper">	

	<div class="home-who-section home-section">	
		<div class="home-heading page-heading">
			<h2>Who are we?</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
		<div class="content-block">
			The Redding Stamp Club is the premier philatelic organization of Shasta County, California. Our members' interests and collections cover a wide array of stamp collecting. This includes worldwide and specific countries encompassing perfins, covers, train cancels, revenues, pre-cancelled and more
		</div>
	
	</div>

	<div class="home-hot-section home-section">	
		<div class="home-heading page-heading">
			<h2>Hot Links</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
	
	</div>

	<div class="home-news-section home-section">	
		<div class="home-heading page-heading">
			<h2>Club News</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
			
		</div>
	
	</div>

	<div class="home-media-section home-section">	
		<div class="home-heading page-heading">
			<h2>In the Media</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
	</div>

	<div class="home-info-section home-section">	
		<div class="home-heading page-heading">
			<h2>Important Info</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
	</div>

	<div class="home-corner-section home-section">	
		<div class="home-heading page-heading">
			<h2>President's Corner</h2>
			<div class="header-opacity-layer links-header-opacity-layer"></div>
			<div class="header-texture-layer"></div>
		</div>
	</div>
</div>