<div class="news-articles-wrapper anim-fade">
	
	
	<div class="news-articles-left" id="news-section">
		<div class="news-wrapper">
			<div class="news-header page-heading">
				<h2>News & Current Events</h2>
				<div class="mobile-section-link mobile-articles-link" ng-click="scrollTo('articles-section')">
					go to Articles &#x21E9;
				</div>		
				<div class="header-opacity-layer news-header-opacity-layer"></div>
				<div class="header-texture-layer"></div>
				
			</div>
			<div class="news-grid-wrapper">
			<div 
			       class="news-grid wall_container" 
			       masonry-wall-dir=".item" 
			       masonry-wall-options="{
			           gutter: 0, 
			           transitionDuration: '0.3s'
			       }"
			   >

			       <div 
			       		class="news-tile item" 
			       		ng-repeat="item in news track by $index" 
			       		custom-directive 
			       		masonry-item-dir
			       		ng-class="{'article-{{$index}}':1===1, 'double-wide': item.options.width === 'double', '{{item.image.position}}':1===1}"
			       		image-position="{{item.image.position}}"
			       		> 
						<a href="{{item.src}}">
			           	<div 
			           		class="news-tile-wrapper" 
			           		ng-class="{'article-{{$index}}':1===1, 'double-wide': item.options.width === 'double', '{{item.image.position}}':1===1}">
				        	<div 
				        		class="news-tile-img"
				        		ng-class="{
				        			'{{item.image.position}}':1===1
				        		}">
				        		<img ng-src="{{item.image.src}}" alt="">
				        	</div>

				        	<div class="news-tile-content">
					        	<div class="news-tile-refer">
					        		{{item.referer}}
					        	</div>
					           	<div class="news-tile-date">
					           		{{item.date}}
					           	</div>
					           	<div class="news-tile-title">
					           		{{item.title}}
					           	</div>
					           	<div class="news-tile-summary">
					           		{{item.bodyText}}
					           	</div>
					        </div>   	
			           </div> <!-- news-tile-wrapper -->
			           </a>
			       </div>
			   </div>
			</div>   
		</div>	
	</div>
	<div class="news-articles-right" id="articles-section">
		<div class="articles-wrapper">
			<div class="news-header page-heading">
				<h2>Articles</h2>
				<div class="mobile-section-link mobile-news-link" ng-click="scrollTo('news-section')">
					back to News &#x21E7;
				</div>		
				<div class="header-opacity-layer news-header-opacity-layer"></div>
				<div class="header-texture-layer"></div>
				
			</div>
			
			<div class="articles-container">
				<div 
					class="article-wrapper" 
					ng-repeat="article in articles">
					<div 
						class="article-thumb"
						ng-click="activateModal('doc', article.src)">
						<img ng-src="{{article.thumbSrc}}" alt="">
					</div>
					<div class="article-description">
						{{article.title}}
					</div>
				</div>
			</div>

			
		</div>
	</div>	

</div>
