<div class="novapex-wrapper">
	
	<div class="novapex-heading page-heading">
		<h2>NOVAPEX</h2>
		<div class="header-opacity-layer novapex-heading-opacity-layer"></div>
		<div class="header-texture-layer"></div>
		
	</div>
	<div class="novapex-body-wrapper">
		<div class="novapex-content">

			<h1 class="novapex-header view-header">North Valley Philatelic Exhibition (NOVAPEX)</h1>
			<p class="novapex-content-block">
				Each year the Redding Stamp club hosts the North Valley Philatelic Exhibition during the first weekend in March. The show draws a minimum of 8 stamp dealers from California and Oregon and includes the United States Post Office. 
			</p>
			<p class="novapex-content-block">
				Dealers intersted in attending the show should contact Allen Fracchia at 530.227.2133. (email: ajrv1938@charter.net)
			</p>
			<p class="novapex-content-block">
				Exhibitors intersted in showcasing their exhibits should contact Mark Woodward at 530.221.8933. (email: markwoodward@charter.net)
			</p>
			<p class="novapex-content-block">
				Copies of the official entry form and instructions are available on the downloads page or at the top of this page.
			</p>
		</div>

		<div class="novapex-right">
			<div class="novapex-docs">
				<div class="novapex-docs-header">2016 NOVAPEX Documents:</div>
				<div class="novapex-docs-links">
					<div class="novapex-doc-link" ng-click="activateModal('pdf', 'assets/documents/novapex_2015_entry_and_prospectus.pdf')">
						Entry Form
					</div>
					<div class="novapex-doc-link" ng-click="activateModal('doc', 'assets/documents/novapex_2015_exhibit_form.doc')">
						
						Prospectus
					</div>
				</div>
			</div>

			<div class="novapex-gallery-container">
			
				<img class="centennial-logo" src="assets/img/NPSCentennialLogo.png" alt="" class="">
				






			<!-- 	<div class="novapex-gallery-large">
					<img src="http://lorempixel.com/400/300" alt="">
				</div>
				<div class="novapex-gallery-thumbs">
					<div class="novapex-gallery-image">
						<img src="http://lorempixel.com/400/300" alt="">
					</div>
					<div class="novapex-gallery-image">
						<img src="http://lorempixel.com/400/300" alt="">
					</div>
					<div class="novapex-gallery-image">
						<img src="http://lorempixel.com/400/300" alt="">
					</div>
					<div class="novapex-gallery-image">
						<img src="http://lorempixel.com/400/300" alt="">
					</div>
					<div class="novapex-gallery-image">
						<img src="http://lorempixel.com/400/300" alt="">
					</div>
					<div class="novapex-gallery-image">
						<img src="http://lorempixel.com/400/300" alt="">
					</div>
					<div class="novapex-gallery-image">
						<img src="http://lorempixel.com/400/300" alt="">
					</div>
					<div class="novapex-gallery-image">
						<img src="http://lorempixel.com/400/300" alt="">
					</div>
				</div> -->


			</div> <!-- novapex-gallery-container -->


		</div>


	</div> 	
</div>

<div class="novapex-divider"></div>


