<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="The Redding Stamp Club is the premier philatelic organization of Shasta County, California. Our members' interests and collections cover a wide array of stamp collecting, including worldwide and specific countries and encompassing perfins, covers, train cancels, revenues, pre-cancelled and more"/>
	<meta name="robots" content="index,follow"/>
	<title>Redding Stamp Club - Shasta County Philately</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.1/masonry.pkgd.js"></script>
	<script src="http://desandro.github.io/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js"></script>
	<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="assets/img/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/anim-in-out.css">
	<!-- <link rel="stylesheet" href="contactForm/contactFormStyles.css"> -->
	<link rel="stylesheet" href="css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Arvo|Lato|Open+Sans|Oswald|PT+Sans|Arimo|Roboto|Merriweather|Nunito|Montserrat' rel='stylesheet' type='text/css'>
	<!-- fonts I like: open sans -->
</head>
<body class="fluid-container" ng-controller="MainCtrl" ng-class="{'contact-active': currentView==='contact'}">

	<header class="header-strip">
		<div class="header-brand">
			<img class="brand-logo" src="assets/img/RSClogo.png" alt="">
		</div>
		<div class="header-mobile-nav">
			<img class="header-mobile-nav-icon" src="assets/img/hamburger.png" alt="mobile-navigation" ng-click="toggleMobileNav()">
		</div>
	</header>

	<section 
		class="hero-section"
		ng-class="{
			'hero-section-home': currentView === 'home',
			'hero-section-leadership': currentView === 'leadership',
			'hero-section-novapex': currentView === 'novapex',
			'hero-section-calendar': currentView === 'calendar',
			'hero-section-news': currentView === 'news',
			'hero-section-links': currentView === 'links',
			'hero-section-contact': currentView === 'contact'
		}"
		>	

			<!-- Novapex -->
			<div class="hero-stamp hero-stamp-yosemite" ng-show="currentView === 'novapex'">
				<img src="assets/img/yosemite-stamps.png" alt="">
			</div>	
			
		<!-- </div> -->
		
		<nav class="nav-wrapper" ng-class="{'mobile':mobileNavActive === true}">
			<a class="nav-link" ui-sref="home" autoscroll="false" ng-class="{'nav-link-active': currentView === 'home'}" ng-click="closeMobileNav()">
					HOME
			</a>	
			<a class="nav-link" ui-sref="leadership" autoscroll="false" ng-class="{'nav-link-active': currentView === 'leadership'}" ng-click="closeMobileNav()">
					LEADERSHIP
			</a>
			<a class="nav-link" ui-sref="novapex" autoscroll="false" ng-class="{'nav-link-active': currentView === 'novapex'}" ng-click="closeMobileNav()">
					NOVAPEX
			</a>
			<a class="nav-link" ui-sref="calendar" autoscroll="false" ng-class="{'nav-link-active': currentView === 'calendar'}" ng-click="closeMobileNav()">
					CALENDAR
			</a>
			<a class="nav-link" ui-sref="links" autoscroll="false" ng-class="{'nav-link-active': currentView === 'links'}" ng-click="closeMobileNav()">
					LINKS
			</a>	
			<a class="nav-link" ui-sref="news" autoscroll="false" ng-class="{'nav-link-active': currentView === 'news'}" ng-click="closeMobileNav()">
					NEWS<div class="hide-small">&nbsp;& ARTICLES</div>
			</a>	
			<a class="nav-link" ui-sref="contact" autoscroll="false" ng-class="{'nav-link-active': currentView === 'contact'}" ng-click="closeMobileNav()">
					CONTACT
			</a>	
		</nav>

	</section> <!-- hero-section -->

	<section class="main-section">
		<div class="ui-view anim-in-out" data-anim-speed="150">
			<!-- VIEWS -->
		</div>
	</section>

	<section class="modal-section" ng-class="{'modal-active': modal.active === true}">
		
		<div class="modal-body">
			<div class="modal-close-button" ng-click="deactivateModal()">
				&#10006;
			</div>
			<iframe src = "{{modal.src}}" width='400' height='300' allowfullscreen webkitallowfullscreen></iframe>
		</div>
	</section>

	<footer class="footer">
		<div class="footer-content">
			<div class="footer-copyright">
				<div class="footer-copyright-top">
					Copyright &#169; 2016 Redding Stamp Club
				</div> 
				<div class="footer-copyright-bottom">
					All Rights Reserved.
				</div>	
			</div>			
			<div class="footer-created-by">
				<div class="footer-created-by-top">
					Website Designed, Created and Maintained by Chris Woodward
				</div> 
				<div class="footer-created-by-bottom">
					RelevantDesigns, RelevantDesignsLLC@gmail.com
				</div>
			</div>
		</div>		
	</footer>
</body>

	<script src="js/angular.min.js"></script>
	<script src="js/angular-ui-router.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
	<script src="js/anim-in-out.js"></script>	
	<script src="js/app.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/directives/masonry.js"></script>
	<script src="js/directives/newsTiles.js"></script>
	<script src="js/articleService.js"></script>
	<script src="js/linkService.js"></script>
	<script src="js/scrollService.js"></script>
	<script src="js/MainCtrl.js"></script>
	

</html>